.normal-link {
    color: var(--text-color-primary);

    :hover {
        color: var(--theme-primary-color-hover);
    }

    :active {
        color: var(--theme-primary-color-active);
    }

    :disabled {
        color: var(--theme-disabled-color);
    }
}
