@osui-radio-class-prefix: osui-radio;

.@{osui-radio-class-prefix} {
    // 没选中时hover的效果
    .@{ant-prefix}-radio-wrapper:hover .@{ant-prefix}-radio,
    .@{ant-prefix}-radio:hover .@{ant-prefix}-radio-inner {
        border-color: var(--radio-hover-border-color);
        background: var(--radio-hover-bg);
    }

    // checked时hover border的颜色
    .@{ant-prefix}-radio-wrapper:hover .@{ant-prefix}-radio-checked.@{ant-prefix}-radio,
    .@{ant-prefix}-radio-checked.@{ant-prefix}-radio:hover .@{ant-prefix}-radio-inner {
        border-color: var(--radio-checked-color);
    }

    // checked时hover border的颜色
    .@{ant-prefix}-radio-checked:not(.@{ant-prefix}-radio-disabled):hover::after {
        border-color: var(--radio-checked-color);
    }

    // checked时hover里面点的颜色
    .@{ant-prefix}-radio-checked:not(.@{ant-prefix}-radio-disabled):hover .@{ant-prefix}-radio-inner::after {
        background-color: var(--radio-checked-color);
    }

    // disable时hover的效果
    .@{ant-prefix}-radio-disabled:hover .@{ant-prefix}-radio-inner,
    .@{ant-prefix}-radio-disabled .@{ant-prefix}-radio-inner,
    .@{ant-prefix}-radio-button-disabled {
        border-color: var(--radio-disabled-border-color) !important;
        background-color: var(--radio-disabled-bg);
    }

    // disable时checked的效果
    .@{ant-prefix}-radio-disabled.@{ant-prefix}-radio-checked::after {
        border-color: var(--radio-disabled-border-color);
    }

    .@{ant-prefix}-radio.@{ant-prefix}-radio-checked:not(.@{ant-prefix}-radio-disabled):focus .@{ant-prefix}-radio-inner {
        box-shadow: var(--theme-component-focus-box-shadow);
    }

    // 去除动画
    .@{ant-prefix}-radio-checked .@{ant-prefix}-radio-inner::after,
    .@{ant-prefix}-radio-inner::after {
        transition: none;
    }

    .@{ant-prefix}-radio-checked::after {
        animation: none;
    }

    // group
    &-group {
        .@{ant-prefix}-radio-button-wrapper {
            &:not(.@{ant-prefix}-radio-button-wrapper-disabled):not(.@{ant-prefix}-radio-button-wrapper-checked) {
                &:hover {
                    // 这里是hover时左侧border的颜色，osui需要与button边框颜色一致，而icloud需要变色
                    border: 1px solid var(--radio-hover-border-color);
                    border-left: 0;
                    z-index: var(--radio-hover-border-zindex);

                    &::before {
                        background: var(--radio-hover-border-color);
                    }
                }
            }
        }
        // 第一个元素默认border-left和hover的效果
        .@{ant-prefix}-radio-button-wrapper:first-child {
            &:not(.@{ant-prefix}-radio-button-wrapper-disabled):not(.@{ant-prefix}-radio-button-wrapper-checked) {
                border-left: 1px solid var(--theme-border-color-base);

                &:hover {
                    border-left: 1px solid var(--radio-hover-border-color);
                }
            }
        }

        .@{ant-prefix}-radio-button-wrapper-disabled {
            color: var(--radio-button-disabled-color);
            background: var(--radio-button-disabled-bg);
            border-color: var(--radio-button-disabled-border-color);
        }

        .@{ant-prefix}-radio-button-wrapper-checked:not(.@{ant-prefix}-radio-button-wrapper-disabled):focus-within {
            box-shadow: none;
        }
    }
}
