# Logs
logs
*.log
npm-debug.log*

# debug ignore
/output
/dist
/styleguidedist
/demo/styleguidedist
/test

# FE ignore
node_modules
bower_components

# File System
.DS_Store
.idea/
/index.js
/index.js.map

/es
/tmp

dist/
tmp/
output/
es/
lib/

# 先不加docs
docs