@osui-drawer-class-prefix: osui-drawer;

.@{osui-drawer-class-prefix} {
    // 当即有extra又是closable时
    &-extra-with-close {
        .@{ant-prefix}-drawer-header {
            .ant-drawer-extra {
                margin-right: 24px;
            }
        }
    }

    .@{ant-prefix}-drawer-header {
        border-bottom: 1px solid transparent;

        .@{ant-prefix}-drawer-header-title {
            // 把关闭按钮挪到右边去
            .@{ant-prefix}-drawer-close {
                position: absolute;
                right: 0;
            }
        }

        .@{ant-prefix}-drawer-title {
            font-size: var(--drawer-title-font-size);
        }
    }

    .@{ant-prefix}-drawer-footer {
        // TODO: antd修复这个issue https://github.com/ant-design/ant-design/pull/28975 后换成变量
        padding: 10px 20px;
        border-top: 1px solid var(--drawer-footer-border-top-color);
    }

    .@{ant-prefix}-drawer-close {
        color: var(--theme-icon-color);
        line-height: var(--drawer-close-icon-line-height);
    }
}
