.icon-strong {
    color: var(--theme-primary-color);

    &:hover {
        color: var(--theme-primary-color-hover);
    }

    &:active {
        color: var(--theme-primary-color-active);
    }

    &[disabled] {
        color: var(--color-brand-3);
    }
}

.text-link {
    color: var(--theme-primary-color);
}

.text-link:hover {
    color: var(--theme-primary-color-hover);
}

.text-link:active {
    color: var(--theme-primary-color-active);
}

.text-link:disabled {
    color: var(--color-brand-3);
}
