@osui-input-number-class-prefix: osui-input-number;

.@{osui-input-number-class-prefix} {
    width: var(--input-number-width);

    .@{ant-prefix}-input-number-handler {
        transition: none;
    }

    &.@{ant-prefix}-input-number-sm input {
        height: var(--input-number-input-height-sm);
    }

    &.@{ant-prefix}-input-number-lg input {
        height: var(--input-number-input-height-lg);
    }

    .@{ant-prefix}-input-number input {
        height: var(--input-number-input-height);
    }

    .@{ant-prefix}-input-number-handler-up:hover,
    .@{ant-prefix}-input-number-handler-down:hover {
        height: 50% !important;
    }

    .@{ant-prefix}-input-number-handler-wrap:hover .@{ant-prefix}-input-number-handler {
        height: 50% !important;
    }

    .@{ant-prefix}-input-number-handler-up-inner,
    .@{ant-prefix}-input-number-handler-down-inner {
        // 修复箭头不居中的问题
        line-height: 12px;
    }

    .@{ant-prefix}-input-number-handler:hover .@{ant-prefix}-input-number-handler-up-inner,
    .@{ant-prefix}-input-number-handler:hover .@{ant-prefix}-input-number-handler-down-inner {
        color: var(--theme-primary-color-hover);
    }

    .@{ant-prefix}-input-number-handler:active {
        background: var(--color-brand-1);
    }

    &.@{ant-prefix}-input-number.@{ant-prefix}-input-number-disabled {
        border-color: var(--theme-border-color-disabled);
    }

    &-compact {
        .@{ant-prefix}-btn-default.osui-button-disabled {
            border: 1px solid var(--theme-border-color-disabled);
        }
    }
}
