@osui-switch-class-prefix: osui-switch;

.@{osui-switch-class-prefix} {
    &.ant-switch-disabled {
        opacity: 1;
        background-color: var(--theme-disabled-bg);

        .ant-switch-handle::before {
            background-color: var(--theme-color-border-base);
            box-shadow: none;
        }
    }

    &.ant-switch-checked .ant-switch-inner {
        margin-top: 1px;
        margin-left: 7px;
        margin-right: 25px;
    }

    .ant-switch-inner {
        margin-top: 1px;
        margin-right: 7px;
        margin-left: 25px;
    }

    .ant-click-animating-node {
        animation: none;
        animation-fill-mode: none;
    }
}
