@osui-switch-class-prefix: osui-switch;

@switch-padding: 2px;

.@{osui-switch-class-prefix} {
    // switch高度变更
    height: 20px;

    .@{ant-prefix}-switch-handle {
        height: 16px;
        width: 16px;

        &::before {
            border-radius: 8px;
        }
    }

    &.@{ant-prefix}-switch {
        min-width: var(--switch-min-width);
        background-color: var(--component-color-grayB-active);

        &.@{ant-prefix}-switch-small {
            min-width: 28px;
        }

        &.@{osui-switch-class-prefix}-middle {
            min-width: 34px;
            height: 18px;

            .@{ant-prefix}-switch-handle {
                height: 14px;
                width: 14px;

                &::before {
                    border-radius: 7px;
                }
            }

            .@{ant-prefix}-switch-loading-icon {
                font-size: 10.5px;
            }
        }

        &-checked {
            background-color: var(--brand-color);
        }
    }

    .@{ant-prefix}-switch-loading-icon.anticon {
        top: 2px;
    }

    &.@{ant-prefix}-switch-disabled {
        opacity: var(--switch-disabled-opacity);

        .@{ant-prefix}-switch-handle::before {
            box-shadow: none;
        }
    }

    // &.@{ant-prefix}-switch-disabled.@{ant-prefix}-switch-checked {
    //     opacity: var(--switch-checked-disabled-opacity);
    // }

    .@{ant-prefix}-switch-inner .osui-icon {
        // 用osui-icon的时候调整高度
        vertical-align: -4px;
    }

    .@{ant-prefix}-click-animating-node {
        animation: none;
        animation-fill-mode: none;
    }

    &.@{ant-prefix}-switch:focus {
        box-shadow: var(--theme-component-focus-box-shadow);
    }

    &.@{ant-prefix}-switch.@{ant-prefix}-switch-checked:not(.@{ant-prefix}-switch-disabled) {
        &:hover {
            background: var(--brand-color-hover);
        }

        &:active {
            background: var(--switch-checked-active-bg);
        }
    }

    &.@{ant-prefix}-switch:not(.@{ant-prefix}-switch-disabled) {
        &:hover {
            background: var(--component-color-grayB2);
        }

        &:active {
            background: var(--grayB-color-4);
        }
    }

    &.@{ant-prefix}-switch-checked .@{ant-prefix}-switch-handle {
        left: ~'calc(100% - 16px - @{switch-padding})';
    }

    &.@{ant-prefix}-switch-small.osui-switch.@{ant-prefix}-switch-checked .@{ant-prefix}-switch-handle {
        left: ~'calc(100% - 12px - @{switch-padding})';
    }

    &.@{osui-switch-class-prefix}-middle.osui-switch.@{ant-prefix}-switch-checked .@{ant-prefix}-switch-handle {
        left: ~'calc(100% - 14px - @{switch-padding})';
    }

    .@{ant-prefix}-switch-inner {
        padding-inline-start: 25px;
        line-height: 19px;
    }

    &.@{ant-prefix}-switch-checked .@{ant-prefix}-switch-inner {
        padding-inline-end: 25px;
        line-height: 21px;
    }
}
