@osui-back-top-class-prefix: osui-back-top;

.@{osui-back-top-class-prefix} {
    background: var(--color-gray-8);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.66;

    &:hover {
        opacity: 1;
    }

    svg {
        font-size: 24px;
        color: var(--color-gray-1);
    }

    &-circle {
        border-radius: 50%;
        overflow: hidden;
    }
}
