@osui-back-top-class-prefix: osui-back-top;

.@{osui-back-top-class-prefix} {
    background: var(--color-gray-7);
    border-radius: 2px;

    img {
        margin: 8px 0 0 8px;
    }

    &-circle {
        border-radius: 50%;
        overflow: hidden;
    }
}
