@osui-back-top-class-prefix: osui-back-top;

.@{osui-back-top-class-prefix} {
    background: var(--back-top-bg);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: var(--back-top-hover-bg);
    }

    &:active {
        background: var(--back-top-active-bg);
    }

    svg {
        height: 24px;
        margin-top: 4px;
        color: var(--color-gray-1);
    }

    &-circle {
        border-radius: 50%;
        overflow: hidden;
    }
}
