@osui-tree-class-prefix: osui-tree;

.@{osui-tree-class-prefix} {
    .@{ant-prefix}-tree-node-content-wrapper.@{ant-prefix}-tree-node-selected,
    .@{ant-prefix}-tree-checkbox+span.@{ant-prefix}-tree-node-selected {
        background-color: var(--tree-node-selected-bg) !important;
    }

    .@{ant-prefix}-tree-node-selected {
        .@{ant-prefix}-tree-title {
            color: var(--theme-primary-color);
        }

        &:hover {
            background-color: var(--color-brand-1) !important;
        }

        &:active {
            background-color: var(--color-brand-2) !important;
        }
    }

    &-small {
        font-size: 12px;
        line-height: 24px;

        .@{ant-prefix}-tree-switcher,
        .@{ant-prefix}-tree-node-content-wrapper {
            line-height: 24px;
        }
    }

    &-middle {
        font-size: 14px;
        line-height: 30px;

        .@{ant-prefix}-tree-switcher,
        .@{ant-prefix}-tree-node-content-wrapper {
            line-height: 30px;
        }
    }

    &-large {
        font-size: 14px;
        line-height: 40px;

        .@{ant-prefix}-tree-switcher,
        .@{ant-prefix}-tree-node-content-wrapper {
            line-height: 40px;
        }
    }
    // == 调整 switcher icon ==
    span.@{ant-prefix}-tree-switcher .@{ant-prefix}-tree-switcher-icon,
    span.@{ant-prefix}-tree-switcher .@{ant-prefix}-select-tree-switcher-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .@{ant-prefix}-tree-switcher {
        width: var(--tree-switcher-width);
    }

    svg&-switcherIcon {
        width: 14px;
        height: 14px;
        color: var(--theme-icon-color);
    }

    &.@{ant-prefix}-tree .@{ant-prefix}-tree-node-content-wrapper {
        margin: 0 10px;
    }

    &.@{ant-prefix}-tree .@{ant-prefix}-tree-treenode {
        padding-bottom: 0;
    }

    // == 调整tree node的点击效果 ==
    .@{ant-prefix}-tree-node-content-wrapper {
        &:not(.@{ant-prefix}-tree-node-selected) {
            &:active {
                background-color: var(--color-brand-2);
            }
        }
    }
    // unselectable 时的treenode效果
    &.@{ant-prefix}-tree-unselectable .@{ant-prefix}-tree-treenode,
    .@{ant-prefix}-tree-treenode-disabled,
    .osui-tree-tree-node-unselectable {
        .@{ant-prefix}-tree-node-content-wrapper {
            background-color: transparent;
            cursor: not-allowed;

            &:hover,
            &:active {
                background-color: transparent;
            }
        }
    }
}
