@osui-button-class-prefix: osui-button;

@button-types: default, strong, primary, link, only-icon;

.button-color-mixin(@color; @background; @border-color) {
    color: @color;
    background: @background;
    border-color: @border-color;
}

.generate(@i: length(@button-types)) when (@i > 0) {
    @type: extract(@button-types, @i);

    .@{osui-button-class-prefix}.ant-btn-@{type} {
        .button-color-mixin(
            ~'var(--btn-@{type}-color)';
            ~'var(--btn-@{type}-bg)';
            ~'var(--btn-@{type}-border-color)';
        );

        &:hover {
            .button-color-mixin(
                ~'var(--btn-@{type}-hover-color)';
                ~'var(--btn-@{type}-hover-bg)';
                ~'var(--btn-@{type}-hover-border-color)';
            );
        }

        &:focus {
            .button-color-mixin(
                ~'var(--btn-@{type}-focus-color)';
                ~'var(--btn-@{type}-focus-bg)';
                ~'var(--btn-@{type}-focus-border-color)';
            );

            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            .button-color-mixin(
                ~'var(--btn-@{type}-active-color)';
                ~'var(--btn-@{type}-active-bg)';
                ~'var(--btn-@{type}-active-border-color)';
            );
        }

        &[disabled] {
            .button-color-mixin(
                ~'var(--btn-@{type}-disable-color)';
                ~'var(--btn-@{type}-disable-bg)';
                ~'var(--btn-@{type}-disable-border-color)';
            );
        }

        &.@{osui-button-class-prefix}-loading {
            .button-color-mixin(
                ~'var(--btn-@{type}-loading-color)';
                ~'var(--btn-@{type}-loading-bg)';
                ~'var(--btn-@{type}-loading-border-color)';
            );
        }
    }

    .generate((@i - 1));
}

.generate();

@osui-buttno-faces: success, error, warning;

.generate-face(@i: length(@osui-buttno-faces)) when (@i > 0) {
    @face: extract(@osui-buttno-faces, @i);

    .@{osui-button-class-prefix}.ant-btn-default.@{osui-button-class-prefix}-face-@{face} {
        color: ~"var(--theme-@{face}-color)";
        border-color: ~"var(--theme-@{face}-color)";

        &:hover {
            color: ~"var(--theme-@{face}-color-hover)";
            border-color: ~"var(--theme-@{face}-color-hover)";
        }

        &:active {
            color: ~"var(--theme-@{face}-color-hover)";
            border-color: ~"var(--theme-@{face}-color-hover)";
            background-color: ~"var(--color-@{face}-1)";
        }

        &:focus {
            color: ~"var(--theme-@{face}-color)";
            border-color: ~"var(--theme-@{face}-color)";
        }
    }

    .@{osui-button-class-prefix}.ant-btn-primary.@{osui-button-class-prefix}-face-@{face} {
        background-color: ~"var(--theme-@{face}-color)";
        border-color: ~"var(--theme-@{face}-color)";

        &:hover {
            background-color: ~"var(--theme-@{face}-color-hover)";
            border-color: ~"var(--theme-@{face}-color-hover)";
        }

        &:active {
            background-color: ~"var(--theme-@{face}-color-active)";
            border-color: ~"var(--theme-@{face}-color-active)";
            color: var(--color-gray-1);
        }

        &:focus {
            background-color: ~"var(--theme-@{face}-color)";
            border-color: ~"var(--theme-@{face}-color)";
            color: var(--color-gray-1);
        }
    }

    .generate-face((@i - 1));
}

.generate-face();

.@{osui-button-class-prefix} {
    &-flex-center {
        display: inline-flex;
        align-items: center;
    }

    & > .osui-icon + span {
        margin-left: 4px;
    }

    &.ant-btn {
        transition: none;
        border-radius: var(--btn-border-radius-base);
    }

    // loading的时候隐藏spinner后面的内容，除非强制keep-children
    &-loading &-icon-spinner:not(&-keep-children) + * {
        display: var(--btn-loading-text-display);
    }

    &-icon-spinner {
        vertical-align: -3px;
        animation: osui-icon-spin 1s infinite linear;
    }

    &.ant-btn-link {
        margin: var(--btn-link-margin);
        padding: var(--btn-link-padding);

        & span:hover {
            text-decoration: var(--btn-link-text-decoration);
        }
    }

    // 只有icon的时候居中icon
    &.ant-btn-only-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

// revert antd不太正常的修复 https://github.com/ant-design/ant-design/issues/12978
a.@{osui-button-class-prefix} {
    &.ant-btn  {
        padding-top: 3.5px;
        line-height: 21px;
    }
}
