@osui-button-class-prefix: osui-button;

.@{osui-button-class-prefix} {
    & > .osui-icon + span {
        margin-left: 4px;
    }

    &.ant-btn {
        transition: none;
    }

    &.ant-btn-default {
        color: var(--theme-text-color);

        &:hover {
            background: var(--color-gray-3);
            border-color: var(--color-gray-5);
        }

        &:focus {
            background: var(--color-gray-1);
            border-color: var(--color-brand-4);
            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            background: var(--color-gray-4);
        }

        &[disabled] {
            color: var(--btn-disable-color);
            background: var(--btn-disable-bg);
            border-color: var(--btn-disable-border);
        }
    }

    &.ant-btn-strong {
        color: var(--color-brand-6);
        background: var(--color-gray-1);
        border-color: var(--color-brand-6);

        &:hover {
            background: var(--color-brand-2);
            border-color: var(--color-brand-6);
        }

        &:focus {
            background: var(--color-gray-1);
            border-color: var(--color-brand-4);
            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            background: var(--color-brand-3);
            border-color: var(--color-brand-6);
        }

        &[disabled] {
            color: var(--btn-disable-color);
            background: var(--btn-disable-bg);
            border-color: var(--btn-disable-border);
        }

        &.@{osui-button-class-prefix}-loading {
            background: var(--color-brand-2);
            border-color: var(--color-brand-6);
        }
    }

    &.ant-btn-primary {
        &:hover {
            background: var(--color-brand-5);
            border-color: var(--color-brand-5);
        }

        &:focus {
            background: var(--color-brand-6);
            border-color: var(--color-brand-4);
            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            background: var(--color-brand-7);
            border-color: var(--color-brand-7);
        }

        &[disabled] {
            color: var(--btn-disable-color);
            background: var(--btn-disable-bg);
            border-color: var(--btn-disable-border);
        }

        &.@{osui-button-class-prefix}-loading {
            background: var(--color-brand-6);
            border-color: var(--color-brand-6);
        }
    }

    &.ant-btn-link {
        color: var(--color-brand-6);
        margin: 0;
        padding: 0 4px;
        border: 1px solid transparent;

        & span:hover {
            color: var(--color-brand-5);
            border-bottom: 1px solid var(--color-brand-5);
        }

        &:focus {
            border-color: var(--color-brand-4);
            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            color: var(--color-brand-7);
        }

        &[disabled] {
            color: var(--color-gray-5);
        }
    }

    &.ant-btn-only-icon {
        border: none;

        .anticon {
            color: var(--theme-text-color);
        }

        &:focus {
            color: var(--theme-text-color);
            border: 1px solid var(--color-brand-4);
            box-shadow: var(--theme-component-focus-box-shadow);
        }

        &:active {
            color: var(--theme-text-color);
        }

        &[disabled] {
            .anticon {
                color: var(--color-gray-5);
            }
        }
    }
    // 是否loading的时候隐藏spinner后面的内容
    &-loading &-icon-spinner + * {
        display: var(--btn-loading-text-display);
    }

    &-icon-spinner {
        vertical-align: -3px;
        animation: osui-icon-spin 1s infinite linear;
    }
}
