@osui-tabs-class-prefix: osui-tabs;

.@{osui-tabs-class-prefix} {
    &.@{ant-prefix}-tabs-top > .@{ant-prefix}-tabs-nav::before {
        border-bottom: var(--tabs-border-bottom);
    }

    .@{ant-prefix}-tabs-nav-list {
        color: var(--tabs-tab-color);

        .@{ant-prefix}-tabs-tab {
            display: flex;

            &-btn {
                display: flex;
            }
        }
    }

    .@{ant-prefix}-tabs-tab .@{ant-prefix}icon {
        margin-right: 4px;
    }

    .@{ant-prefix}-tabs-tab.@{ant-prefix}-tabs-tab-active .@{ant-prefix}-tabs-tab-btn {
        font-weight: normal;
        font-family: "PingFangSC-Medium";
        text-shadow: none;

        em.num {
            color: var(--link-color);
            background: var(--brand-color-1);
        }
    }

    .@{ant-prefix}-tabs-tab {
        margin: 0;

        .@{ant-prefix}-tabs-tab-btn {
            padding: 5px 12px;

            em.num {
                display: inline-block;
                width: 25px;
                height: 20px;
                margin-left: 5px;
                color: var(--tabs-tab-color);
                font-size: 12px;
                font-style: normal;
                line-height: 20px;
                text-align: center;
                background: var(--gray-color-3);
                border-radius: 10px;
            }

            &:hover {
                em.num {
                    color: var(--link-color);
                    background: var(--brand-color-1);
                }
            }
        }

        &:not(.@{ant-prefix}-tabs-tab-active):not(.@{ant-prefix}-tabs-tab-disabled):hover {
            .@{ant-prefix}-tabs-tab-btn {
                background: var(--component-color-grayB1);
                border-radius: var(--radius-2xs);
            }
        }
    }

    .@{ant-prefix}-tabs-tab + .@{ant-prefix}-tabs-tab {
        margin: var(--tabs-horizontal-margin);
    }

    // 灰底
    &.@{osui-tabs-class-prefix}-gray-navbar {
        .@{ant-prefix}-tabs-nav {
            background: var(--component-color-grayB1);
        }

        .@{ant-prefix}-tabs-tab {
            &:not(.@{ant-prefix}-tabs-tab-active):not(.@{ant-prefix}-tabs-tab-disabled):hover {
                .@{ant-prefix}-tabs-tab-btn {
                    background: var(--component-color-grayB-active);
                }
            }
        }
    }

    // card 模式 // 以下覆盖没有考虑osc的样式
    &.@{ant-prefix}-tabs-card {
        & > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-tab,
        & > div > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-tab {
            border-radius: 6px 6px 0 0;
            padding: 5px 8px;

            &.@{ant-prefix}-tabs-tab-active {
                box-shadow: 0 2px 0 0 var(--brand-color-6) inset;
            }

            &:not(.@{ant-prefix}-tabs-tab-active):not(.@{ant-prefix}-tabs-tab-disabled) {
                background: var(--component-color-grayB1);

                &:hover {
                    transition: 0s;
                    background: var(--component-color-grayB-active);

                    .@{ant-prefix}-tabs-tab-btn {
                        background: var(--component-color-grayB-active);
                    }
                }
            }
        }
    }

    // add button
    &.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add,
    &.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add {
        &:hover {
            background: var(--component-color-grayB1);
        }
    }
}
