@osui-checkbox-class-prefix: osui-checkbox;

.@{osui-checkbox-class-prefix},
.@{osui-checkbox-class-prefix}-group .@{ant-prefix}-checkbox-group-item {
    // 没选中时hover的效果 normal + hover
    &.@{ant-prefix}-checkbox-wrapper:hover .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox:hover .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-hover-bg);
        border-color: var(--checkbox-hover-border-color);
    }
    // 没选中且focus时的hover效果 normal + focus + hover
    &.@{ant-prefix}-checkbox-wrapper:hover :not(.@{ant-prefix}-checkbox-checked) .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox:not(.@{ant-prefix}-checkbox-checked):hover .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-hover-bg);
    }
    // focus时的效果
    .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-focus-bg);
        box-shadow: var(--checkbox-checked-focus-box-shadow);
    }
    // 选中focus时的效果
    .@{ant-prefix}-checkbox-checked .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner {
        box-shadow: var(--checkbox-checked-focus-box-shadow);
    }

    // 选中hover且focus时的效果
    &.@{ant-prefix}-checkbox-wrapper:hover .@{ant-prefix}-checkbox-checked .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox-checked:hover .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox-checked .@{ant-prefix}-checkbox-input:focus + .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-checked-focus-bg);
        border-color: transparent;
    }

    .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox-checked::after {
        transition: none;
        animation: none;
        animation-fill-mode: none;
    }

    .@{ant-prefix}-checkbox-disabled .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-disabled-bg);

        &::after {
            border-color: var(--checkbox-disabled-color);
        }
    }

    &.@{ant-prefix}-checkbox-wrapper:hover .@{ant-prefix}-checkbox-disabled .@{ant-prefix}-checkbox-inner,
    .@{ant-prefix}-checkbox-disabled:hover .@{ant-prefix}-checkbox-inner {
        background-color: var(--checkbox-disabled-bg);
    }

    &-group {
        .@{ant-prefix}-checkbox-inner,
        .@{ant-prefix}-checkbox-checked::after {
            border-radius: @border-radius-base;
            animation: none;
            animation-fill-mode: none;
        }

        .@{ant-prefix}-checkbox-disabled .@{ant-prefix}-checkbox-inner {
            background-color: var(--checkbox-disabled-bg);

            &::after {
                color: var(--checkbox-disabled-color);
            }
        }
    }

    .@{ant-prefix}-checkbox-checked,
    .@{ant-prefix}-checkbox {
        &.@{ant-prefix}-checkbox-disabled .@{ant-prefix}-checkbox-inner {
            border-color: var(--checkbox-disabled-border-color) !important;
        }
    }

    .@{ant-prefix}-checkbox + span {
        padding-right: var(--checkbox-padding-horizontal);
        padding-left: var(--checkbox-padding-horizontal);
    }
}
