@osui-page-header-class-prefix: osui-page-header;

.@{osui-page-header-class-prefix} {
    &-no-padding {
        padding: 0;
    }

    .@{ant-prefix}-page-header-heading-title {
        font-weight: var(--page-header-title-font-weight);
    }

    svg.osui-icon {
        height: var(--page-header-title-font-size);
    }
}