@osui-popover-class-prefix: osui-popover;

.@{osui-popover-class-prefix} {
    color: var(--theme-text-color);
    font-size: var(--popover-font-size);
    line-height: var(--popover-line-height);
    font-weight: var(--font-weight-regular);

    .@{ant-prefix}-popover-inner {
        padding: 0;
        border-radius: 6px;
    }

    .@{ant-prefix}-popover-content {
        min-width: 44px;
        max-width: 300px;
        word-break: break-all;

        .@{ant-prefix}-popover-arrow-content {
            // ref: https://github.com/ant-design/ant-design/pull/33710
            box-shadow: var(--tooltip-arrow-content-box-shadow);
        }
    }

    .@{ant-prefix}-popover-title {
        padding: var(--popover-inner-content-padding);
        font-size: var(--popover-font-size);
        font-weight: var(--font-weight-medium);
        border: none;
        padding-bottom: 0;
        margin-bottom: 4px;

        & + .@{ant-prefix}-popover-inner-content {
            padding-top: 0;
        }
    }

    .@{ant-prefix}-popover-inner-content {
        padding: var(--popover-inner-content-padding);
        color: var(--theme-text-color);
    }

    &-close-icon {
        float: right;
        height: 14px;
        color: var(--theme-icon-color);
        cursor: pointer;
    }
}

// 当其他组件内置了tooltip是，全局覆盖
// Global
.@{ant-prefix}-popover-arrow-content {
    box-shadow: var(--tooltip-arrow-content-box-shadow, 'none') !important;
}
