@osui-pagination-class-prefix: osui-pagination;

.@{osui-pagination-class-prefix} {
    .@{ant-prefix}-pagination .@{ant-prefix}-pagination-item:not(.@{ant-prefix}-pagination-item-active) {
        margin-right: var(--pagination-item-margin-right);
        border: 1px solid var(--pagination-item-border-color);

        &:hover {
            background-color: var(--pagination-item-hover-bg);

            a {
                color: var(--pagination-item-hover-color);
            }
        }
    }

    .@{ant-prefix}-pagination .@{ant-prefix}-pagination-total-text {
        line-height: 32px;
        margin-inline-end: 4px;
        color: var(--text-color-primary);
    }

    .@{ant-prefix}-pagination-next,
    .@{ant-prefix}-pagination-prev {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: var(--pagination-item-margin-right);
        border: var(--pagination-prev-next-border);

        svg {
            color: var(--pagination-prev-next-icon-color);
        }

        &:hover {
            svg {
                color: var(--icon-color-secondary);
            }
        }

        &:active {
            svg {
                color: var(--icon-color-secondary);
            }
        }

        &.@{ant-prefix}-pagination-disabled {
            svg {
                color: var(--pagination-prev-next-icon-color-disabled);
            }
        }
    }

    .@{ant-prefix}-pagination-item-active {
        background: var(--pagination-item-active-bg);
        border-color: var(--pagination-item-active-border-color);

        a {
            color: var(--pagination-item-active-color);
        }

        &:hover {
            background: var(--component-color-grayB-active);
            border-color: var(--component-color-grayB-active);

            a {
                color: var(--pagination-item-active-color);
            }
        }
    }

    // ============================ Disabled ============================
    .@{ant-prefix}-pagination.@{ant-prefix}-pagination-disabled {
        .@{ant-prefix}-pagination-item,
        .@{ant-prefix}-pagination-next,
        .@{ant-prefix}-pagination-prev {
            color: var(--text-color-disabled);
            background: var(--pagination-disabled-bg);
            border: 1px solid var(--pagination-item-disabled-border-color);
            cursor: not-allowed;

            svg {
                color: var(--pagination-prev-next-icon-color-disabled);
            }

            &:hover {
                background-color: var(--pagination-disabled-bg);

                a {
                    color: var(--text-color-disabled);
                }
            }
        }

        .@{ant-prefix}-pagination-item-active,
        .@{ant-prefix}-pagination-item-active:hover {
            border-color: var(--component-color-grayB1);
            background-color: var(--component-color-grayB1);

            a {
                color: var(--text-color-disabled);
            }
        }

        .@{ant-prefix}-select-arrow {
            svg {
                color: var(--icon-color-disabled);
            }
        }
    }

    .@{ant-prefix}-pagination-simple-pager {
        input {
            width: 48px;
            height: 22px;
        }

        .@{ant-prefix}-pagination-slash {
            margin: 0 16px;
        }
    }

    .@{ant-prefix}-pagination-simple,
    .mini {
        .@{ant-prefix}-pagination-prev,
        .@{ant-prefix}-pagination-next {
            border: none;
        }
    }

    &.@{ant-prefix}-pagination-disabled .@{ant-prefix}-pagination-item.@{ant-prefix}-pagination-item-active,
    .@{ant-prefix}-select-disabled.@{ant-prefix}-select:not(.@{ant-prefix}-select-customize-input) .@{ant-prefix}-select-selector,
    .@{ant-prefix}-pagination-options-quick-jumper input[disabled] {
        color: var(--theme-disabled-color);
        background: var(--component-color-grayB1);
        border-color: var(--component-color-border);
        opacity: .4;
    }

    .@{ant-prefix}-select-single:not(.@{ant-prefix}-select-customize-input) .@{ant-prefix}-select-selector {
        padding: 0 8px;
    }

    .@{ant-prefix}-select-single.@{ant-prefix}-select-show-arrow .@{ant-prefix}-select-selection-item,
    .@{ant-prefix}-select-single.@{ant-prefix}-select-show-arrow .@{ant-prefix}-select-selection-placeholder {
        padding-right: 23px;
    }

    .@{ant-prefix}-pagination-options {
        margin-inline-start: 4px;
    }

    .@{ant-prefix}-pagination .@{ant-prefix}-pagination-options-quick-jumper {
        margin-inline-start: 8px;
    }

    .@{ant-prefix}-pagination-options-quick-jumper {
        input {
            margin-inline-start: 8px;
            margin-inline-end: 8px;
        }
    }

    .@{ant-prefix}-pagination-options-quick-jumper .@{osui-pagination-class-prefix}-go-button,
    .@{ant-prefix}-pagination-options-quick-jumper .@{ant-prefix}-pagination-options-quick-jumper-button,
    .@{ant-prefix}-pagination-simple-pager button {
        line-height: 1.5;
        position: relative;
        display: inline-block;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        border: 1px solid transparent;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        user-select: none;
        touch-action: manipulation;
        height: 32px;
        padding: 6px 11px;
        font-size: 12px;
        border-radius: var(--btn-border-radius-base);
        color: var(--btn-default-color);
        border-color: var(--btn-default-border-color);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
        margin-left: 8px;

        &:hover,
        &:active {
            color: var(--btn-default-hover-color);
            border-color: var(--btn-default-hover-border-color);
            cursor: not-allowed;
        }

        &[disabled] {
            border: 1px solid var(--theme-border-color-disabled);
            color: var(--btn-default-disable-color);
            background: var(--btn-default-disable-bg);
        }

        &:not([disabled]) {
            cursor: pointer;
            background: var(--btn-default-bg);
        }
    }

    .@{ant-prefix}-pagination-single.@{ant-prefix}-pagination-show-arrow .@{ant-prefix}-pagination-selection-item {
        padding-inline-end: 23px;
    }

    .@{ant-prefix}-select .@{ant-prefix}-select-arrow {
        svg {
            width: 16px;
            height: 16px;
            color: var(--icon-color-secondary);
        }
    }

    .@{ant-prefix}-select-dropdown {
        .@{ant-prefix}-select-item-option-selected:not(.@{ant-prefix}-select-item-option-disabled) {
            background-color: transparent;
            color: var(--select-item-selected-color);
        }

        .@{ant-prefix}-select-item {
            padding: 1px 12px;
            line-height: 32px;
        }

        .@{ant-prefix}-select-item-option-active {
            background-color: var(--select-item-active-bg);
        }

        .@{ant-prefix}-select-item:not(.@{ant-prefix}-select-item-active):hover {
            background-color: var(--select-item-active-bg);
        }
    }

    .@{ant-prefix}-pagination-single:not(.@{ant-prefix}-pagination-customize-input) .@{ant-prefix}-pagination-selector {
        padding: 0 8px;
    }
}
