@osui-steps-class-prefix: osui-steps;

.@{osui-steps-class-prefix} {
    &.@{ant-prefix}-steps-navigation .@{ant-prefix}-steps-item-active {
        &::before {
            height: 0;
        }
    }

    &.@{ant-prefix}-steps-navigation .@{ant-prefix}-steps-item {
        &::before {
            transition: none;
        }
    }
}