@osui-table-class-prefix: osui-table;

.@{osui-table-class-prefix} {
    .@{ant-prefix}-table-thead {
        font-size: 12px;

        > tr {
            > th {
                font-weight: var(--table-header-font-weight);
                border-bottom: 1px solid var(--table-header-border-bottom-color);
            }
        }
    }

    .@{ant-prefix}-table-pagination.@{ant-prefix}-pagination {
        margin: var(--table-pagination-margin);
    }

    .@{ant-prefix}-table-thead > tr > th:not(:last-child):not(.@{ant-prefix}-table-selection-column):not(.@{ant-prefix}-table-row-expand-icon-cell):not([colspan])::before {
        height: 100%;
        background: var(--color-gray-1);
    }

    &-no-row-border {
        .@{ant-prefix}-table-tbody {
            & > tr {
                & > th,
                & > td {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    &-no-border {
        .@{ant-prefix}-table-thead,
        .@{ant-prefix}-table-tbody {
            & > tr {
                & > th,
                & > td {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    // ===== 以下用class来patch，因为侵入性比较强 ======
    &-icloud {
        &-expandableIcon {
            color: var(--theme-icon-color);
            cursor: pointer;
        }

        .@{ant-prefix}-pagination-options-quick-jumper input[disabled] {
            color: var(--theme-disabled-color);
            background-color: var(--theme-disabled-bg-color);
            border-color: var(--theme-border-color-disabled);
        }

        .@{ant-prefix}-table-cell-with-append {
            .osui-icon {
                float: left;
                margin-right: 4px;
            }
        }
    }
}
