@osui-table-class-prefix: osui-table;

.@{osui-table-class-prefix} {
    .ant-table-thead {
        font-size: 12px;
    }

    .ant-table-thead .ant-table-cell:not(:last-child) {
        border-right: var(--table-header-cell-border-right);
    }
}
