@osui-message-class-prefix: osui-message;

.@{osui-message-class-prefix} {
    &-alert {
        .ant-message-notice-content {
            padding: 0;
        }
    }

    .ant-alert-success {
        background:var(--message-alert-success-bg-color);
        border-color:var(--message-alert-success-border-color);
    }

    .ant-alert-warning {
        background: var(--message-alert-warning-bg-color);
        border-color:var(--message-alert-warning-border-color);
    }

    .ant-alert-error {
        background: var(--message-alert-error-bg-color);
        border-color:var(--message-alert-error-border-color);
    }

    .ant-alert-info {
        background: var(--message-alert-info-bg-color);
        border-color:var(--message-alert-info-border-color);
    }

    &-infoIcon {
        color: var(--theme-info-color);
    }

    &-successIcon {
        color: var(--theme-success-color);
    }

    &-errorIcon {
        color: var(--theme-error-color);
    }

    &-warningIcon {
        color: var(--theme-warning-color);
    }

    .ant-alert-close-icon {
        right: 10px;
    }
}
