/* stylelint-disable no-duplicate-selectors */
@osui-message-class-prefix: osui-message;

.@{ant-prefix}-message {
    .@{ant-prefix}-message-notice-wrapper:first-child {
        margin-top: 31px;
    }
}

@keyframes MessageMoveRightIn {
    0% {
        transform: translateX(100%);
        transform-origin: 0 0;
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        transform-origin: 0 0;
        opacity: 1;
    }
}

@keyframes MessageMoveRightOut {
    0% {
        transform: translateX(0%);
        transform-origin: 0 0;
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        transform-origin: 0 0;
        opacity: 0;
    }
}

.@{osui-message-class-prefix} {
    // message在右侧
    &-message-at-right {
        // 是否message从右面出来
        &.@{ant-prefix}-message-notice {
            text-align: right;
        }

        &.@{ant-prefix}-message-notice {
            animation-name: MessageMoveRightIn;
            animation-duration: .3;
        }

        &.@{ant-prefix}-message-notice.@{ant-prefix}-message-move-up-leave.@{ant-prefix}-message-move-up-leave-active {
            animation-name: MessageMoveRightOut;
            animation-duration: .3s;
        }
    }

    &-message-with-title {
        .@{ant-prefix}-message-notice-content {
            padding: 16px 16px;
        }

        &-only {
            .osui-message-message-content-title {
                margin-bottom: 0;
            }
        }
    }

    // 对original的样式patch
    .@{ant-prefix}-message-custom-content {
        display: flex;
        align-items: flex-start !important;
        max-width: 400px;
        color: var(--text-color-primary);
        text-align: left;

        > svg + span {
            flex: 1;
        }

        > svg.osui-icon {
            flex-shrink: 0;
            padding-right: var(--alert-icon-padding-right);
        }

        > svg.osui-icon,
        .anticon-loading {
            margin-top: 4px;
        }

        .close-icon {
            margin-top: 5px;
            margin-left: var(--space-2xl);
            cursor: pointer;
            justify-items: flex-end;
        }

        &:has(.@{osui-message-class-prefix}-count-down-close) {
            .close-icon {
                margin-left: 8px;
            }
        }
    }

    &-message-content {
        text-align: left;

        &-inline {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &-title {
            display: flex;
            align-items: flex-start;
            margin-bottom: 12px;

            &-text {
                flex: 1;
                font-weight: 600;
                font-size: 14px;

                a {
                    font-weight: 400;
                }
            }
        }

        .close-icon {
            display: flex;
            color: var(--icon-color-tertiary);

            &:hover {
                color: var(--icon-color-disabled);
            }

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    &-count-down-close {
        margin-left: 8px;
        color: var(--theme-placeholder-color);
    }

    &-message-notify {
        .@{osui-message-class-prefix}-message-content-title-text {
            color: var(--theme-icon-color);
            font-family: var(--theme-font-family);

            &::before {
                content: '[';
            }

            &::after {
                content: ']';
            }
        }
    }

    // // 颜色
    // &-message-success {
    //     .@{ant-prefix}-message-notice-content {
    //         background: var(--message-alert-success-bg-color);
    //         border: 1px solid var(--message-alert-success-border-color);
    //     }
    // }

    // &-message-warning {
    //     .@{ant-prefix}-message-notice-content {
    //         background: var(--message-alert-warning-bg-color);
    //         border: 1px solid var(--message-alert-warning-border-color);
    //     }
    // }

    // &-message-error {
    //     .@{ant-prefix}-message-notice-content {
    //         background: var(--message-alert-error-bg-color);
    //         border: 1px solid var(--message-alert-error-border-color);
    //     }
    // }

    // &-message-info,
    // &-message-loading {
    //     .@{ant-prefix}-message-notice-content {
    //         background: var(--message-alert-info-bg-color);
    //         border: 1px solid var(--message-alert-info-border-color);
    //     }
    // }

    // &-message-notify {
    //     .@{ant-prefix}-message-notice-content {
    //         border: 1px solid var(--theme-border-color-base);
    //     }
    // }

    &.@{ant-prefix}-message-notice {
        .@{ant-prefix}-message-notice-content {
            color: var(--text-color-primary);
            background: var(--component-color-white);
            border: 1px solid var(--line-color-2);
            padding: var(--space-s) var(--space-m);
            line-height: var(--font-height-m);
            min-width: 180px;

            a {
                color: var(--brand-color-6);
            }
        }
    }

    &-infoIcon {
        color: #352eff;
    }

    &-successIcon {
        color: var(--success-color);
    }

    &-errorIcon {
        color: #fa423c;
    }

    &-warningIcon {
        color: var(--warning-color);
    }
}
