/* stylelint-disable no-duplicate-selectors */
@osui-message-class-prefix: osui-message;

.@{osui-message-class-prefix} {
    padding: var(--message-content-padding);

    // 是否message从右面出来
    &.@{ant-prefix}-message-notice {
        text-align: var(--message-text-align);
    }

    // 对original的样式patch
    .@{ant-prefix}-message-custom-content {
        display: flex;
        max-width: 400px;
        color: var(--theme-color-text);
        text-align: left;

        > svg.osui-icon {
            flex-shrink: 0;
            margin-top: .15em; // font-size 14px和12px的平均值
            padding-right: var(--alert-icon-padding-right);
        }

        .close-icon {
            margin-left: 8px;
            cursor: pointer;
        }
    }

    &-message-content {
        text-align: left;

        &-inline {
            display: flex;
        }

        &-title {
            display: flex;
            margin-bottom: 4px;

            &-text {
                flex: 1;
                font-family: "PingFangSC-Medium";
            }
        }

        .close-icon {
            svg {
                width: 14px;
                height: 14px;
                color: var(--theme-icon-color);
            }
        }
    }

    &-count-down-close {
        margin-left: 8px;
        color: var(--theme-icon-color);
    }

    &-message-notify {
        .@{osui-message-class-prefix}-message-content-title-text {
            color: var(--theme-icon-color);
            font-family: var(--theme-font-family);

            &::before {
                content: '[';
            }

            &::after {
                content: ']';
            }
        }
    }

    // 颜色
    &-message-success {
        .@{ant-prefix}-message-notice-content {
            background: var(--message-alert-success-bg-color);
            border: 1px solid var(--message-alert-success-border-color);
        }
    }

    &-message-warning {
        .@{ant-prefix}-message-notice-content {
            background: var(--message-alert-warning-bg-color);
            border: 1px solid var(--message-alert-warning-border-color);
        }
    }

    &-message-error {
        .@{ant-prefix}-message-notice-content {
            background: var(--message-alert-error-bg-color);
            border: 1px solid var(--message-alert-error-border-color);
        }
    }

    &-message-info,
    &-message-loading {
        .@{ant-prefix}-message-notice-content {
            background: var(--message-alert-info-bg-color);
            border: 1px solid var(--message-alert-info-border-color);
        }
    }

    &-message-notify {
        .@{ant-prefix}-message-notice-content {
            border: 1px solid var(--theme-border-color-base);
        }
    }

    &-infoIcon {
        color: var(--theme-info-color);
    }

    &-successIcon {
        color: var(--theme-success-color);
    }

    &-errorIcon {
        color: var(--theme-error-color);
    }

    &-warningIcon {
        color: var(--theme-warning-color);
    }
}
