@osui-tag-class-prefix: osui-tag;

.@{osui-tag-class-prefix}.@{ant-prefix}-tag {
    padding: var(--tag-padding);
    border-radius: var(--tag-border-radius);

    &.@{ant-prefix}-tag > .anticon + span,
    &.@{ant-prefix}-tag > span + .anticon,
    &.@{ant-prefix}-tag > .osui-icon + span,
    &.@{ant-prefix}-tag > span + .osui-icon {
        margin-left: 4px;
    }

    > svg.osui-icon {
        height: 12px;
        margin-right: var(--tag-icon-maring-horizontal);
        color: var(--tag-icon-color);
        font-size: 12px;
    }

    &:hover {
        background: var(--tag-default-hover-bg);
    }

    .@{ant-prefix}-tag-close-icon {
        margin-left: 4px;
        color: var(--tag-icon-color);

        svg.osui-icon {
            height: 12px;
        }
    }

    &.@{osui-tag-class-prefix}-blue {
        color: var(--blue-color-7);
        background: var(--blue-color-1);
        border-color: var(--blue-color-3);
    }

    &.@{osui-tag-class-prefix}-green {
        color: var(--success-color);
        background: var(--success-color-light-hover);
        border-color: var(--success-color-light-active);
    }

    &.@{osui-tag-class-prefix}-red {
        color: var(--error-color);
        background: var(--error-color-light-hover);
        border-color: var(--error-color-light-active);
    }

    &.@{osui-tag-class-prefix}-yellow {
        color: var(--warning-color);
        background: var(--warning-color-light-hover);
        border-color: var(--warning-color-light-active);
    }

    &.@{osui-tag-class-prefix}-brand {
        color: var(--brand-color);
        background: var(--brand-color-light-hover);
        border-color: var(--brand-color-light-active);
    }

    &.@{osui-tag-class-prefix}-purple {
        color: var(--purple-color-7);
        background: var(--purple-color-1);
        border-color: var(--purple-color-3);
    }

    &.@{osui-tag-class-prefix}-pink {
        color: var(--pink-color-7);
        background: var(--pink-color-1);
        border-color: var(--pink-color-3);
    }

    &.@{osui-tag-class-prefix}-disabled {
        &.@{osui-tag-class-prefix}-outlined {
            color: var(--theme-disabled-color);
            background: var(--theme-component-bg);
            border-color: var(--theme-disabled-color);
        }

        &.@{osui-tag-class-prefix}-solid {
            color: var(--theme-disabled-color);
        }
    }

    &.@{ant-prefix}-tag-borderless {
        border-color: transparent;
    }

    &.@{osui-tag-class-prefix}-outlined {
        background: var(--theme-component-bg);
    }
}

.@{osui-tag-class-prefix}-checkable {
    color: var(--text-color-primary);
    background: var(--component-color-grayB1);
    border: 1px solid transparent;
    border-radius: var(--radius-xs);

    &:not(.@{ant-prefix}-tag-checkable-checked):hover {
        color: var(--text-color-primary);
        background: var(--component-color-grayB2);
    }

    &.@{ant-prefix}-tag {
        transition: none;
    }

    &.@{ant-prefix}-tag-checkable-checked {
        color: var(--brand-color);
        background: var(--brand-color-light-hover);
        border-color: var(--brand-color-hover);
        font-weight: var(--font-weight-medium);
        transition: none;

        &:hover {
            color: var(--brand-color-hover);
            font-weight: var(--font-weight-regular);
        }
    }
}

/* 边框虚线示例 */
.@{osui-tag-class-prefix}-dome-dashed.@{ant-prefix}-tag {
    background: #fff;
    border: 1px solid rgba(218, 222, 227, 1);
    border-style: dashed;

    &:hover {
        background: var(--gray-color-3);
    }
}

.@{osui-tag-class-prefix}-round {
    &.@{ant-prefix}-tag {
        padding: 0 8px;
        border-radius: var(--radius-3xl);
    }
}
