@osui-tag-class-prefix: osui-tag;

.@{osui-tag-class-prefix} {
    padding: var(--tag-padding);
    border: 1px solid transparent;

    > svg.osui-icon {
        height: 12px;
        margin-right: var(--tag-icon-maring-horizantol);
        color: var(--tag-icon-color);
        font-size: 12px;
    }

    &:hover {
        background: var(--theme-bg-color-base);
    }

    .@{ant-prefix}-tag-close-icon {
        margin-left: var(--tag-icon-maring-horizantol);
        color: var(--tag-icon-color);
        line-height: 14px;
        vertical-align: middle;

        svg.osui-icon {
            height: 12px;
        }
    }

    &.@{ant-prefix}-tag-blue {
        color: var(--tag-blue-font-color);
        background: var(--tag-blue-bg-color);

        &.@{osui-tag-class-prefix}-solid {
            color: var(--theme-component-bg);
            background: var(--tag-blue-solid-bg-color);
        }
    }

    &.@{ant-prefix}-tag-green {
        color: var(--tag-green-font-color);
        background: var(--tag-green-bg-color);

        &.@{osui-tag-class-prefix}-solid {
            color: var(--theme-component-bg);
            background: var(--tag-green-solid-bg-color);
        }
    }

    &.@{ant-prefix}-tag-red {
        color: var(--tag-red-font-color);
        background: var(--tag-red-bg-color);

        &.@{osui-tag-class-prefix}-solid {
            color: var(--theme-component-bg);
            background: var(--tag-red-solid-bg-color);
        }
    }

    &.@{ant-prefix}-tag-yellow {
        color: var(--tag-yellow-font-color);
        background: var(--tag-yellow-bg-color);

        &.@{osui-tag-class-prefix}-solid {
            color: var(--theme-component-bg);
            background: var(--tag-yellow-solid-bg-color);
        }
    }

    &.@{ant-prefix}-tag-purple {
        color: var(--tag-font-color);
        background: var(--tag-purple-color);
    }
}

.@{osui-tag-class-prefix}-checkable {
    border: 2px solid transparent;

    &.@{ant-prefix}-tag-checkable-checked {
        color: @text-color;
        background: var(--color-brand-1);
        border: 2px solid var(--color-brand-4);
    }
}

/* 边框虚线示例 */
.osui-tag-dome-dashed {
    background: #fff;
    border: 1px solid rgba(218, 222, 227, 1);
    border-style: dashed;

    &:hover {
        background: var(--color-gray-3);
    }
}

.@{osui-tag-class-prefix}-round {
    &.@{ant-prefix}-tag {
        height: 20px;
        padding: 0 10px;
        line-height: 20px;
        border-radius: 14px;
    }
}
