.osui-icon {
    display: inline-block;
    width: auto;
    height: 16px; /* osui规范16px */
    fill: currentColor;
    vertical-align: -.22em;
}

.osui-icon-spin {
    animation: osui-icon-spin 1s infinite linear;
}

@keyframes osui-icon-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
