@osui-back-top-class-prefix: osui-badge;

.@{osui-back-top-class-prefix} {
    .ant-badge-status-dot {
        width: 8px;
        height: 8px;
    }

    .ant-badge-status-processing {
        background-color: var(--theme-primary-color);
    }

    .ant-badge-status-default {
        background-color: var(--theme-disabled-color);
    }
}
