@osui-auto-complete-class-prefix: osui-auto-complete;

.@{osui-auto-complete-class-prefix}-dropdown {
    .@{ant-prefix}-select-item-option-active:not(.@{ant-prefix}-select-item-option-disabled) {
        &:hover {
            background-color: var(--select-item-active-bg);
        }

        &:active {
            background-color: var(--color-gray-4);
        }
    }

    // 修复 select item 不居中
    .@{ant-prefix}-select-item {
        line-height: 22px;
    }
}
