@osui-select-class-prefix: osui-select;

.@{osui-select-class-prefix} {
    // placeholder
    .@{ant-prefix}-select-selection-placeholder {
        color: var(--color-gray-7);
        opacity: 1;
    }

    // disable
    &.@{ant-prefix}-select-disabled.@{ant-prefix}-select-single:not(.@{ant-prefix}-select-customize-input) {
        .@{ant-prefix}-select-selector {
            color: var(--theme-disabled-color);
            background: var(--select-disabled-bg);
            border-color: var(--theme-border-color-disabled);
        }

        .@{ant-prefix}-select-arrow svg {
            color: var(--color-gray-6);
        }
    }

    // arrow icon
    .@{ant-prefix}-select-arrow {
        top: 43%;
        width: @font-size-lg;
        height: @font-size-lg;

        svg {
            color: var(--theme-disabled-color);
            font-size: @font-size-lg;
            transition: var(--select-arrow-transition);
        }
    }

    &.@{ant-prefix}-select-open .@{ant-prefix}-select-arrow:not(.@{ant-prefix}-select-arrow-loading) > svg {
        transform: var(--select-arrow-open-transform-rotate);
    }

    // no-border
    &&-no-border {
        .@{ant-prefix}-select-selector {
            background: transparent;
            border: 1px solid transparent;
            box-shadow: none;

            &:hover {
                background: var(--theme-component-bg);
            }
        }

        &.@{ant-prefix}-select-open .@{ant-prefix}-select-selector {
            background: var(--theme-component-bg);
            border: 1px solid var(--theme-primary-color-hover);
            box-shadow: 0 0 0 @outline-width var(--theme-border-focus-color);
        }
    }

    .@{ant-prefix}-select-clear {
        right: 30px;
        width: 14px;
        height: 14px;
        color: var(--color-gray-6);
        opacity: 1;

        &:hover {
            color: var(--color-gray-6);
        }
    }

    // hover + focus border color
    &.@{ant-prefix}-select-focused.@{ant-prefix}-select-single:not(.@{ant-prefix}-select-customize-input) {
        .@{ant-prefix}-select-selector {
            border-color: var(--theme-border-focus-color); // 为了focus时，不被hover的border减掉
        }
    }
}

.@{osui-select-class-prefix}.@{ant-prefix}-select-multiple {
    .@{ant-prefix}-select-selection-item .@{ant-prefix}-select-selection-item-remove {
        color: var(--color-gray-6);
    }

    .@{ant-prefix}-select-selection-item {
        border: 1px solid var(--color-gray-3);
    }
}

// 多选下拉移动到左边，
.@{osui-select-class-prefix}-multiple-dropdown {
    .@{ant-prefix}-select-item.@{ant-prefix}-select-item-option,
    .@{ant-prefix}-select-item-option-selected {
        padding-left: 40px;
    }

    // 以下通过使用::before画出来未选中时的边框，border可以通过variables控制，TODO：大小也可以控制，但是position要相应调整
    .@{ant-prefix}-select-item.@{ant-prefix}-select-item-option {
        .@{ant-prefix}-select-item-option-content::before {
            @checkbox-size: 13px;

            position: absolute;
            top: 27%;
            left: 17px;
            display: table;
            width: @checkbox-size;
            height: @checkbox-size;
            border: 1px solid var(--theme-border-color-base);
            border-radius: @border-radius-base;
            content: '';
        }
    }

    .@{ant-prefix}-select-item-option-selected.@{ant-prefix}-select-item.@{ant-prefix}-select-item-option {
        .@{ant-prefix}-select-item-option-content::before {
            display: none;
        }
    }

    // 以下调整选中时的icon，外面可以进行替换
    .@{ant-prefix}-select-item-option-selected:not(.@{ant-prefix}-select-item-option-disabled) {
        .@{ant-prefix}-select-item-option-state {
            position: absolute;
            top: 17%;
            left: 17px;
        }
    }

    .@{osui-select-class-prefix}-check-icon {
        width: var(--select-check-icon-size);
        height: var(--select-check-icon-size);
    }
}
