@osui-branch-dropdown-class-prefix: osui-branch-dropdown;

.@{osui-branch-dropdown-class-prefix} {
    &-button {
        height: 48px;
        width: 208px;
        border: 1px solid var(--color-gray-5);
        background: #fff;
        border-radius: 4px;
        padding-top: 7px;
        position: relative;
        padding-left: 28px;

        span.dropdown-commit-icon {
            position: absolute;
            left: 8px;
            top: 16px;
        }

        span.dropdown-arrow-icon {
            position: absolute;
            top: 16px;
            left: 190px;
            color: var(--color-gray-9);
        }

        .osui-icon {
            width: 16px;
            position: absolute;
            left: 8px;
            top: 18px;
        }

        &.ant-dropdown-open,
        &:hover,
        &:focus {
            color: var(--color-gray-9);
            background: var(--color-gray-1);
            border-color: var(--color-brand-4);
        }

        .title {
            color: var(--color-gray-9);
            font-size: 12px;
            margin-bottom: 0;
            text-align: left;
        }

        .desc {
            width: 144px;
            text-align: left;
            font-size: 12px;
            color: var(--color-gray-7);
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }
    }

    &-menu {
        max-height: 250px;
        overflow-y: scroll;

        .ant-dropdown {
            border-radius: 4px;
        }

        .ant-dropdown-menu {
            border-radius: 4px;
        }

        .ant-dropdown-menu-item {
            border-bottom: 1px solid #ecedf0;
            padding: 4px 28px 12px;
            position: relative;
            width: 360px;
            height: 48px;

            p {
                height: 22px;
                margin-bottom: 0;
                font-size: 12px;
            }

            .title {
                span {
                    width: 242px;
                    height: 20px;
                    color: var(--color-gray-9);
                    margin-bottom: 0;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }

                em {
                    color: var(--color-gray-7);
                    float: right;
                    font-style: normal;
                    font-size: 12px;
                }
            }

            svg {
                position: absolute;
                left: 8px;
                top: 16px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .ant-dropdown-menu-item:hover,
        .ant-dropdown-menu-submenu-title:hover {
            background-color: var(--color-brand-1);
        }
    }
}
