@osui-modal-class-prefix: osui-modal;

.@{ant-prefix}-modal-centered .@{osui-modal-class-prefix} {
    &.@{ant-prefix}-modal {
        padding-bottom: 0px;
    }
}

.@{osui-modal-class-prefix} {
    .@{ant-prefix}-modal-close-x {
        line-height: var(--modal-close-icon-line-height);
    }

    .@{ant-prefix}-modal-header {
        padding: var(--modal-padding);
    }

    .@{ant-prefix}-modal-body {
        border-bottom: var(--modal-body-border-bottom);
        padding: var(--modal-body-padding);
        overflow: auto;
        max-height: var(--modal-body-max-height);
    }

    .@{ant-prefix}-modal-footer {
        border-top: var(--modal-footer-border-top);
    }

    &-body-border {
        .@{ant-prefix}-modal-body {
            border-bottom: 1px solid var(--theme-border-color-split);
            border-top: 1px solid var(--theme-border-color-split);
        }
    }

    .@{ant-prefix}-modal-title {
        max-width: 95%;
    }

    .@{ant-prefix}-modal-content {
        .@{ant-prefix}-modal-close {
            svg {
                height: var(--modal-close-icon-height);
            }

            .@{ant-prefix}-modal-close-icon {
                color: var(--theme-text-color);
            }
        }
    }
}

.@{osui-modal-class-prefix}-confirm {
    svg.osui-icon {
        float: left;
        margin-right: 20px;
        width: 36px;
        height: 36px;
        font-size: 14px;
    }

    .@{ant-prefix}-modal-confirm-body {
        min-height: 76px;
        border-bottom: var(--modal-body-border-bottom);
    }

    .@{ant-prefix}-modal-confirm-content {
        margin-bottom: 40px;
        margin-left: 55px;
    }

    .@{ant-prefix}-modal-confirm-btns {
        margin-top: 15px;
    }

    &.@{ant-prefix}-modal-confirm-warning .@{ant-prefix}-modal-confirm-body svg.osui-icon,
    &.@{ant-prefix}-modal-confirm-confirm .@{ant-prefix}-modal-confirm-body svg.osui-icon {
        color: var(--theme-warning-color);
    }

    &.@{ant-prefix}-modal-confirm-success .@{ant-prefix}-modal-confirm-body svg.osui-icon {
        color: var(--theme-success-color);
    }

    &.@{ant-prefix}-modal-confirm-info .@{ant-prefix}-modal-confirm-body svg.osui-icon {
        color: var(--theme-info-color);
    }

    &.@{ant-prefix}-modal-confirm-error .@{ant-prefix}-modal-confirm-body svg.osui-icon {
        color: var(--theme-error-color);
    }

    .@{ant-prefix}-modal-confirm-body > .osui-modal-confirm-icon + .@{ant-prefix}-modal-confirm-title + .@{ant-prefix}-modal-confirm-content {
        margin-left: 55px;
        margin-bottom: 40px;
    }
}
