@osui-slider-class-prefix: osui-slider;

.@{osui-slider-class-prefix} {
    &.@{ant-prefix}-slider {
        .@{ant-prefix}-slider-handle::after {
            box-shadow: 0 0 0 1px var(--icon-brand-color);
        }

        .@{ant-prefix}-slider-handle:focus,
        .@{ant-prefix}-slider-handle:hover {
            &::after {
                border: 1px solid var(--brand-color-active);
                outline: 2px solid var(--brand-color-light-active);
            }
        }

        .@{ant-prefix}-slider-handle-dragging {
            &.@{ant-prefix}-slider-handle::after {
                box-shadow: 0 0 0 2px var(--icon-brand-color);
            }
        }
        .@{ant-prefix}-slider-rail {
            border-radius: 20px;
        }

        .@{ant-prefix}-slider-dot {
            width: 4px;
            height: 4px;
            border: 2px solid var(--component-color-border);
            box-sizing: content-box;

            &-active {
                border-color: var(--icon-brand-color);
            }
        }
        &.@{ant-prefix}-slider-disabled {
            filter: opacity(.4);

            .@{ant-prefix}-slider-handle:hover::after {
                width: 10px;
                height: 10px;
            }

            .@{ant-prefix}-slider-handle:focus,
            .@{ant-prefix}-slider-handle:hover {
                &::after {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
