@osui-alert-class-prefix: osui-alert;

.@{osui-alert-class-prefix} {
    .ant-alert-close-icon {
        font-size: 14px;
        height: 14px;
    }

    .ant-alert-close-text {
        &:hover {
            color: var(--link-color);
            text-decoration: underline;
        }
    }

    .ant-alert-icon {
        top: 11px;
        left: 16px;
    }

    &.ant-alert-with-description {
        .ant-alert-message {
            font-size: 14px;
            font-weight: bold;
        }

        .ant-alert-close-icon {
            // 由于alert-with-description的icon现在是小的，所以有description时，距离上面要和.ant-alert-icon一样
            top: 11px;
        }
    }

    &-icon-cross {
        color: var(--theme-text-color);
    }
}
