@osui-alert-class-prefix: osui-alert;

.@{osui-alert-class-prefix} {
    display: flex;
    align-items: center;

    .@{ant-prefix}-alert-close-icon {
        font-size: 14px;
        height: 14px;
    }

    .@{ant-prefix}-alert-close-text {
        &:hover {
            color: var(--link-color);
            text-decoration: underline;
        }
    }

    .@{ant-prefix}-alert-icon {
        position: absolute;
        left: 16px;
    }

    &.@{ant-prefix}-alert-with-description {
        // with-description时，不能display：flex
        display: block;

        .@{ant-prefix}-alert-icon {
            // 由于alert-with-description的icon现在是小的，所以有description时，距离上面要和.@{ant-prefix}-alert-icon一样
            top: 11px;
        }

        .@{ant-prefix}-alert-message {
            font-size: 14px;
            font-weight: bold;
        }

        .@{ant-prefix}-alert-close-icon {
            // 由于alert-with-description的icon现在是小的，所以有description时，距离上面要和.@{ant-prefix}-alert-icon一样
            top: 11px;
        }
    }

    &-icon-cross {
        color: var(--theme-text-color);
    }

    &.@{ant-prefix}-alert {
        padding: var(--alert-padding);
    }

    &.@{ant-prefix}-alert.@{ant-prefix}-alert-no-icon {
        padding: var(--alert-no-icon-padding);
    }

    &-message {
        &-wrapper {
            display: flex;

            &-closable {
                margin-right: 20px;
            }
        }

        &-content {
            flex: 1;
            margin-right: 20px;

            &-expanded-close {
                max-height: 18px;
                overflow: hidden;
            }
        }

        &-actions {
            & > *:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &-action-expand-open {
        svg {
            transform: rotate(180deg);
        }
    }

    &-count-down-close {
        color: var(--theme-placeholder-color);
        margin-right: 20px;
    }
}
