@osui-empty-class-prefix: osui-empty;

.@{osui-empty-class-prefix} {
    .@{ant-prefix}-empty-image {
        margin-bottom: 4px;
    }

    .@{ant-prefix}-empty-description {
        color: var(--color-gray-9);
    }

    .@{osui-empty-class-prefix}-large {
        .@{ant-prefix}-empty-image {
            height: auto;
            margin-bottom: 20px;

            svg {
                min-width: 180px;
                max-width: 360px;
                height: 100%;
            }
        }
    }

    .@{osui-empty-class-prefix}-small {
        .@{ant-prefix}-empty-image {
            height: 50px;
            margin-bottom: 10px;
        }
    }
}
