@osui-popconfirm-class-prefix: osui-popconfirm;

.@{osui-popconfirm-class-prefix} {
    &-content {
        &-title {
            min-width: 177px;
            margin: 0;
            margin-bottom: 4px;
            margin-left: -20px;
            font-weight: 500;
            font-size: 16px;
        }

        &-content {
            margin-left: -20px;
        }
    }
}

// Antd不在支持IE之后可以移除这个
.@{ant-prefix}-popover-inner {
    box-shadow: 0 0 8px var(--shadow-color);
}
