.text-link {
    color: var(--theme-text-color);
}

.text-link:hover {
    color: var(--link-hover-color);
}

.text-link:active {
    color: var(--link-active-color);
}

.text-link:disabled {
    color: var(--theme-disabled-color);
}
