@osui-back-top-class-prefix: osui-avatar;

.@{osui-back-top-class-prefix} {
    &-wrapper {
        position: relative;
        display: inline-block;

        .@{osui-back-top-class-prefix}-pr {
            display: inline-block;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 0;
            right: 0;
            color: var(--success-color-hover);
            background: var(--gray-color-1);
            border-radius: 50%;
            border: 1px solid var(--gray-color-1);
        }
    }
}
