@osui-back-top-class-prefix: osui-avatar;

.@{osui-back-top-class-prefix} {
    &-wrapper {
        position: relative;
        display: inline-block;
    }

    &-pr {
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--color-success-5);
        background: var(--color-gray-1);
        border-radius: 50%;
        border: 1px solid var(--color-gray-1);
    }
}
