@osui-tooltip-class-prefix: osui-tooltip;

.@{osui-tooltip-class-prefix} {

    .@{ant-prefix}-tooltip-inner {
        min-width: 36px;
        max-width: 300px;
        min-height: var(--tooltip-min-height);
        padding: var(--tooltip-inner-padding, 6px 8px);
        word-break: break-all;
        font-weight: var(--font-weight-regular);
    }
}
