@osui-cascader-class-prefix: osui-cascader;

.minHeightMixin() {
    @iterations: 10;
    .loop (@i) when (@i > 0) {
        &.@{osui-cascader-class-prefix}-menu-@{i} .@{ant-prefix}-cascader-menu {
            height: ~"calc(@{i} * 30px + 8px)";
            min-height: ~"calc(@{i} * 30px + 8px)";
        }
        .loop(@i - 1);
    }
    .loop (@iterations);
}

.@{osui-cascader-class-prefix} {
    min-width: 240px;

    &-label-divider-icon {
        margin: 0 5px;
        color: var(--color-gray-6);
        vertical-align: -4px;
    }

    .@{ant-prefix}-cascader-picker-label {
        padding: 0 30px 0 10px;
    }

    .@{ant-prefix}-cascader-picker-arrow {
        right: 10px;
    }

    // ==================== Menu ====================
    &-menu {
        .minHeightMixin();

        &.@{ant-prefix}-cascader-menu,
        &.@{ant-prefix}-cascader-menus .@{ant-prefix}-cascader-menu {
            min-width: 112px;
        }

        .@{ant-prefix}-cascader-menu-item:not(.@{ant-prefix}-cascader-menu-item-disabled):hover {
            background-color: var(--color-brand-1);
        }

        .@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled),
        .@{ant-prefix}-cascader-menu-item-active:not(.@{ant-prefix}-cascader-menu-item-disabled):hover {
            color: var(--theme-primary-color);

            .@{ant-prefix}-cascader-menu-item-expand-icon {
                color: var(--theme-primary-color);
            }
        }

        .@{ant-prefix}-cascader-menu-item-expand .@{ant-prefix}-cascader-menu-item-expand-icon,
        .@{ant-prefix}-cascader-menu-item-loading-icon {
            right: 7px;
            color: var(--theme-icon-color);
            font-size: 14px;
        }
    }
    // === 转动arrow ===
    &.@{ant-prefix}-select-open .@{ant-prefix}-select-arrow:not(.@{ant-prefix}-select-arrow-loading) > svg {
        transform: var(--select-arrow-open-transform-rotate);
    }

    // arrow icon
    .@{ant-prefix}-select-arrow {
        svg {
            font-size: 14px;
            transition: var(--select-arrow-transition);
        }
    }
}
